/Koctas_VM_Desktop/.vs/Koctas_VM_Desktop/v15/Server/sqlite3/storage.ide
/Koctas_VM_Desktop/.vs/Koctas_VM_Desktop/v15/Server/sqlite3/storage.ide-shm
/Koctas_VM_Desktop/.vs/Koctas_VM_Desktop/v15/Server/sqlite3/storage.ide-wal
/Koctas_VM_Desktop/.vs/Koctas_VM_Desktop/v15/Server/sqlite3/storage.ide
/Koctas_VM_Desktop/.vs/Koctas_VM_Desktop/v15/Server/sqlite3/storage.ide-shm
/Koctas_VM_Desktop/.vs/Koctas_VM_Desktop/v15/Server/sqlite3/storage.ide-wal
