<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Koctas_VM_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Koctas_VM_Desktop.Properties.Settings>
            <setting name="Koctas_VM_Desktop_WS_Palet_Oku_Z_EWM_PALETLI_MAL_KABUL_OKU"
                serializeAs="String">
                <value>http://kterpdev.koctas.com.tr:8000/sap/bc/srt/rfc/sap/zewm_palet_mal_kabul_oku/500/z_ewm_paletli_mal_kabul_oku/paletlioku</value>
            </setting>
        </Koctas_VM_Desktop.Properties.Settings>
    </applicationSettings>
</configuration>
